*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: #34db8d; */
}
.wrapper{
    height: 260px;
    background: #fff;
    max-width: 410px;
    border-radius: 7px;
    padding: 16px 25px 0;
    transition: height 0.2s ease;
}
.wrapper.active{
    height: 530px;
}
header h1{
    font-size: 21px;
    font-weight: 500;
}
header p{
    margin-top: 5px;
    color: #474747;
    font-size: 16px;
}
.wrapper .form{
    margin: 20px 0 25px;
}
.form :where(input, button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.form input{
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
}
.form button{
    margin-top: 20px;
    background: #34db8d;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
}
.wrapper .qr-code{
    padding: 33px 0;
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px ;
}
.wrapper.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}