:root{
    --primary: #d81e5d;
    --secondary: #8a4fff;
    --light: #eee;
    --gray: #aaa;
    --dark: #1e2f42;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}
button, input{
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: inherit;
}
button{
    cursor: pointer;
}
body{
    background: var(--light);
}
main{
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    color: var(--dark);
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
p{
    color: var(--gray);
    font-size: 1.122rem;
    margin-bottom: 2rem;
}
.generator-button{
    color: rgb(6, 41, 105);
    font-size: inherit;
    font-weight: 700;
    background: linear-gradient(to buttom right, var(--primary), var(--secondary));
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    transition: 0.4s ease-out;
}
.generator-button:hover{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
h4{
    color: var(--gray);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.colours{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
}
.colour{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--dark);
    color: #fff; 
    border: 2px solid transparent;
    transition: 0.4s ease-out;
}
.colour.copied{
    border-color: red;
}
.lock-toggle{
    opacity: 0.5;
    transition: 0.4s;
}
.lock-toggle.is-locked{
    opacity: 1;
}
.colour-input{
    text-align: center;
}
@media(min-width: 768px){
    .colours{
        grid-template-columns: repeat(2, 1fr);
    }    
    h1{
        font-size: 4rem;
    }
}
@media(min-width: 1024px){
    .colours{
        grid-template-columns: repeat(4, 1fr);
    }
    .colour{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .colour-input{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}